################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImGui DirectX 11 Kiero Hook/x64/Debug
/ImGui DirectX 11 Kiero Hook/x64/Release
/ImGui DirectX 11 Kiero Hook/.vscode
/.vs/RLCHANGER
/ImGui DirectX 11 Kiero Hook/build
/.vs/rl-vamp/v17
/rl-vamp/.vscode
/rl-vamp/build
/rl-vamp/x64
/.vs/rl-vamp
/rl-vamp Installer/x64/Debug
/x64/Debug
